<div id="home-hero" class="row no-gutters justify-content-center align-items-center">
  <div class="col-6">
    <h1 class="display-4">Crowd-Sourced Female Empowerment Book</h1>
  </div>
</div>

<div class="row no-gutters">
  <div class="col-8 mx-auto">
    <div class="row no-gutters justify-content-md-between mt-5">
      <div class="col-md-5 col-6">
        <h2 class="orange">What It Is</h2>
        <p>This is a collection of narratives and responses to questions about what female empowerment means to women of all ages.</p>
      </div>
      <div class="col-5">
        <h2 class="orange">Why We're Doing It</h2>
        <p>This will offer a multitude of perspectives on what it means to exist as a woman in society.</p>
      </div>
    </div>
    <div class="row no-gutters justify-content-between mb-5">
      <div class="col-5">
        <h2 class="orange">Layout of the Book</h2>
        <p>The first part of the book will discuss what type of gender inequality participants face. Then we'll cover the kind of tools participants used to overcome that inequality. Lastly, this will provide ideas for how to combat and prevent gender inequality in the future.</p>
      </div>
      <div class="col-5">
        <h2 class="orange">How to Contribute</h2>
        <p>Fill out our form and submit your answers. Select answers will be collected into the book but all will be collected on the website.</p>
      </div>
    </div>  
  </div>
</div>